.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(228, 163, 73, 0.5),
    rgba(187, 192, 82, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(228, 163, 73, 0.5),
    rgba(187, 192, 82, 0.5)
  );
}
.gradient-custom-4 {
  background: rgba(228, 163, 73, 0.5);
  border-color:transparent;
 box-shadow: 2.5px 2.5px rgba(95, 93, 93, 0.5);
}

.form-control-lg{
  border-color: rgba(38, 36, 36, 0.519);
}

.gradient-custom-4:hover{
  border-color: transparent;
  background-color: rgba(228, 163, 73, 0.314);
}

